<div class="posts">
  <% @posts.each do |post| %>
    <div class="post" id="post_<%= post.id %>">
      <h1><a href="<%= post.url %>"><%= post.title %></a></h1>
      <div class="publish_at"><%= post.published_at.strftime("%B %d, %Y") %></div>
      <div class="body"><%= post.to_html %></div>
    </div>
  <% end %>
</div>
